* {
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#toc {
    display: flex;
    justify-content: center;
    color: rgb(190, 42, 42);
    margin-bottom: 30px;
}

.Sec {
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 3%;
    border-width: 1px;
    border-style: solid;
    padding-left: 10px;
    background-color: gray;
}    

.Items {
    font-weight: bold;
    font-size: large;
    margin-left: 60%;
    margin-top: 0%;
    margin-right: 0%;
    border-left: 1px solid;
    border-bottom: 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    overflow-wrap: normal;
}

#h1 {
    background-color: darkgoldenrod;
}

#h2 {
    background-color:plum;
}

#h3 {
    background-color: lightblue;
}

@media (min-width: 992px) {
    .Sec {
        width: 30.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Sec {
        width: 47%;
    }

    #s3 {
        width: 97%;
    }

    #h3 {
        margin-left: 81%;
    }
}

@media (max-width: 767px) {
    .Items {
        margin-left: 75%;
    }
}
